html {
  background-color: black;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  color: whitesmoke;
  opacity: 0.9;
}

.navbar {
  position: fixed;
  top: 1px;
  display: block;
  height: 3.5rem;
  width: 100%;
  border-bottom: 1px solid white;
  background-color: black;
  overflow: hidden;
  z-index: 2;
}

.navbar img {
  height: 3.5rem;
  margin-left: 15px;
}

.links {
  padding-right: 15px;
}

.links .link {
  color: seashell;
  text-decoration: none;
  float: right;
  margin: 20px 25px 15px 0px;
}

.s1 {
  background-color: #398378;
}

#logo {
  width: 25%;
}

.s2 {
  background-color: #396983;
  font-family: "Playfair Display", serif;
}

.s2 img {
  border-radius: 50%;
  height: 35%;
  margin: 10% auto 0;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  background-color: #C9EFC7;
}

.s2 h3 {
  text-align: center;
  font-weight: bold;
}

.s2 p {
  text-align: center;
}

.s3,
.s4 {
  background-color: #396983;
}

span {
  background: white !important;
}